<div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div>Product</div>
        <div>Total Price</div>
        <div>Status</div>
        <div>Approve</div>
      </li>
      <li class="table-row" *ngFor="let order of orders">
        <div class="col col-1" data-label="Product">
            <span *ngFor="let p of order.product">{{ p.name }} -- {{ p.amount }} <br></span>
        </div>
        <div class="col col-3" data-label="Price">{{ order.price }}</div>
        <div class="col col-4" data-label="Status">{{ order.status }}</div>
        <button (click)="approve(order._id)" disabled="order.status === 'complete'">Approve</button>
    </li>
    </ul>
  </div>